openapi: 3.1.0
info:
  title: Expenses Tracker API
  description: >
    Manage personal expenses tracked in a Notion database. Backed by a
    Notion "Expenses" database (Title, Amount, Date, Notes, Category
    relation, and a "Current Cycle" formula for the 25th–24th billing
    cycle) and a "Categories" database. Intended for use as a Custom GPT
    Action.
  version: 5.0.0
servers:
  - url: https://www.adithyakrishnan.com

security:
  - bearerAuth: []

tags:
  - name: Expenses
    description: Create, read, update, and delete individual expense entries.
  - name: Analytics
    description: Aggregated views over expenses — summaries, breakdowns, search, export.
  - name: Categories
    description: Valid expense categories.

paths:
  /api/expenses:
    get:
      operationId: listExpenses
      summary: List expenses
      description: Lists expenses sorted by date (newest first), with an optional running total.
      tags: [Expenses]
      parameters:
        - name: category
          in: query
          description: Category name (fuzzy-matched) or Notion category page ID.
          schema:
            type: string
        - name: from
          in: query
          description: Start date, inclusive (YYYY-MM-DD).
          schema:
            type: string
            format: date
        - name: to
          in: query
          description: End date, inclusive (YYYY-MM-DD).
          schema:
            type: string
            format: date
        - name: current_cycle
          in: query
          description: If true, only return expenses in the current billing cycle (25th–24th).
          schema:
            type: boolean
      responses:
        "200":
          description: List of expenses.
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  count:
                    type: integer
                    example: 43
                  total:
                    type: number
                    description: Sum of `amount` across all returned expenses.
                    example: 22033
                  expenses:
                    type: array
                    items:
                      $ref: "#/components/schemas/Expense"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "500":
          $ref: "#/components/responses/ServerError"

    post:
      operationId: createExpense
      summary: Create an expense
      description: Creates a new expense entry.
      tags: [Expenses]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ExpenseCreateInput"
      responses:
        "201":
          description: Expense created.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ExpenseWriteResult"
                  - type: object
                    properties:
                      warning:
                        type: string
                        description: >
                          Present when a requested category could not be resolved —
                          the expense was still saved, without a category.
                        example: >-
                          Category "Grocries" was not found — expense saved without
                          a category. Use GET /api/expenses/categories to list valid names.
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "500":
          $ref: "#/components/responses/ServerError"

  /api/expenses/{id}:
    patch:
      operationId: updateExpense
      summary: Update an expense
      description: Updates one or more fields of an existing expense. Only provided fields are changed.
      tags: [Expenses]
      parameters:
        - name: id
          in: path
          required: true
          description: Notion page ID of the expense.
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ExpenseUpdateInput"
      responses:
        "200":
          description: Expense updated.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ExpenseWriteResult"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "500":
          $ref: "#/components/responses/ServerError"

    delete:
      operationId: deleteExpense
      summary: Delete (archive) an expense
      description: >
        Archives the expense — it moves to Notion's trash and is fully
        recoverable from there. Nothing is permanently destroyed.
      tags: [Expenses]
      parameters:
        - name: id
          in: path
          required: true
          description: Notion page ID of the expense.
          schema:
            type: string
      responses:
        "200":
          description: Expense archived.
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: Expense archived (recoverable from Notion trash).
                  id:
                    type: string
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "500":
          $ref: "#/components/responses/ServerError"

  /api/expenses/batch:
    post:
      operationId: createExpenseBatch
      summary: Create multiple expenses
      description: >
        Creates up to 50 expenses in one call (bounded concurrency server-side).
        Partial success is possible — check each item's `success` field.
      tags: [Expenses]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [expenses]
              properties:
                expenses:
                  type: array
                  minItems: 1
                  maxItems: 50
                  items:
                    $ref: "#/components/schemas/ExpenseCreateInput"
      responses:
        "201":
          description: All or some expenses created — see `results` for per-item status.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ExpenseBatchResult"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "500":
          description: All items in the batch failed.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ExpenseBatchResult"

  /api/expenses/categories:
    get:
      operationId: listCategories
      summary: List valid categories
      description: Retrieves all valid categories from the Categories Notion database (server-cached 5 minutes).
      tags: [Categories]
      responses:
        "200":
          description: Category list.
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  count:
                    type: integer
                    example: 8
                  categories:
                    type: array
                    items:
                      $ref: "#/components/schemas/Category"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "500":
          $ref: "#/components/responses/ServerError"

  /api/expenses/summary:
    get:
      operationId: getExpenseSummary
      summary: Monthly spending summary
      description: >
        Per-month total, count, average spend per elapsed day, top category,
        and category breakdown. Computed in a single query over the requested range.
      tags: [Analytics]
      parameters:
        - name: month
          in: query
          description: Month to summarize (YYYY-MM). Defaults to the current month.
          schema:
            type: string
            pattern: '^\d{4}-(0[1-9]|1[0-2])$'
            example: "2026-07"
        - name: months
          in: query
          description: Number of months to include, ending at `month` (inclusive).
          schema:
            type: integer
            minimum: 1
            maximum: 12
            default: 1
      responses:
        "200":
          description: Monthly summary.
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  from:
                    type: string
                    format: date
                  to:
                    type: string
                    format: date
                  grand_total:
                    type: number
                    description: Sum of all months' totals in the requested range.
                  months:
                    type: array
                    items:
                      type: object
                      properties:
                        month:
                          type: string
                          example: "2026-07"
                        total:
                          type: number
                          example: 9774.25
                        count:
                          type: integer
                          example: 24
                        average_per_day:
                          type: number
                          description: Total divided by elapsed days (current month) or full month length.
                          example: 977.43
                        top_category:
                          type: string
                          nullable: true
                          example: "Food"
                        by_category:
                          type: array
                          items:
                            $ref: "#/components/schemas/CategoryBreakdownRow"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "500":
          $ref: "#/components/responses/ServerError"

  /api/expenses/breakdown:
    get:
      operationId: getExpenseBreakdown
      summary: Category-wise spend breakdown
      description: >
        Totals, counts, and percentage share per category for a date range or
        the current billing cycle. Defaults to the current calendar month.
      tags: [Analytics]
      parameters:
        - name: from
          in: query
          schema:
            type: string
            format: date
        - name: to
          in: query
          schema:
            type: string
            format: date
        - name: current_cycle
          in: query
          description: Use the 25th–24th billing cycle instead of calendar dates.
          schema:
            type: boolean
      responses:
        "200":
          description: Category breakdown.
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  from:
                    type: string
                    format: date
                  to:
                    type: string
                    format: date
                  current_cycle:
                    type: boolean
                  total:
                    type: number
                    example: 22033
                  count:
                    type: integer
                    example: 43
                  breakdown:
                    type: array
                    items:
                      $ref: "#/components/schemas/CategoryBreakdownRow"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "500":
          $ref: "#/components/responses/ServerError"

  /api/expenses/search:
    get:
      operationId: searchExpenses
      summary: Search / filter expenses
      description: >
        Searches expenses by free text (Title/Notes) and/or structured filters.
        All provided filters combine with AND. At least one filter is required.
      tags: [Analytics]
      parameters:
        - name: q
          in: query
          description: Case-insensitive substring match against Title or Notes.
          schema:
            type: string
        - name: category
          in: query
          schema:
            type: string
        - name: min_amount
          in: query
          schema:
            type: number
        - name: max_amount
          in: query
          schema:
            type: number
        - name: from
          in: query
          schema:
            type: string
            format: date
        - name: to
          in: query
          schema:
            type: string
            format: date
        - name: limit
          in: query
          description: Cap the number of returned results (default returns all matches).
          schema:
            type: integer
            minimum: 1
      responses:
        "200":
          description: Matching expenses.
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  count:
                    type: integer
                    description: Total number of matches (before `limit` is applied).
                  returned:
                    type: integer
                    description: Number of expenses actually included in `expenses`.
                  total:
                    type: number
                    description: Sum of `amount` across all matches (not just returned).
                  expenses:
                    type: array
                    items:
                      $ref: "#/components/schemas/Expense"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "500":
          $ref: "#/components/responses/ServerError"

  /api/expenses/export:
    get:
      operationId: exportExpenses
      summary: Export expenses
      description: Exports filtered expenses as CSV (default, downloadable) or JSON.
      tags: [Analytics]
      parameters:
        - name: format
          in: query
          schema:
            type: string
            enum: [csv, json]
            default: csv
        - name: category
          in: query
          schema:
            type: string
        - name: from
          in: query
          schema:
            type: string
            format: date
        - name: to
          in: query
          schema:
            type: string
            format: date
        - name: current_cycle
          in: query
          schema:
            type: boolean
      responses:
        "200":
          description: Exported data.
          content:
            text/csv:
              schema:
                type: string
                description: >
                  CSV with header `date,title,amount,category,notes,id,url`.
                  Sent with a `Content-Disposition: attachment` header.
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  count:
                    type: integer
                  expenses:
                    type: array
                    items:
                      $ref: "#/components/schemas/Expense"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "500":
          $ref: "#/components/responses/ServerError"

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: Static API key. Send as `Authorization: Bearer <API_KEY>`.


  schemas:
    Expense:
      type: object
      properties:
        id:
          type: string
          description: Notion page ID.
          example: "397e545c-4a67-81a9-a246-e6b888924539"
        url:
          type: string
          format: uri
        title:
          type: string
          example: "Night Swiggy dinner"
        amount:
          type: number
          nullable: true
          example: 193
        category_id:
          type: string
          nullable: true
        category:
          type: string
          nullable: true
          example: "Food"
        date:
          type: string
          format: date
          nullable: true
          example: "2026-07-08"
        notes:
          type: string
          nullable: true
        currentCycle:
          type: boolean
          nullable: true
          description: Whether this expense falls in the current 25th–24th billing cycle.

    ExpenseCreateInput:
      type: object
      required: [title, amount]
      properties:
        title:
          type: string
          example: "Lunch"
        amount:
          type: number
          example: 250
        category:
          type: string
          description: Category name (fuzzy-matched) or Notion category page ID.
          example: "Food"
        category_id:
          type: string
          deprecated: true
          description: Deprecated — use `category` instead.
        date:
          type: string
          format: date
          description: Defaults to today (Asia/Kolkata) if omitted.
        notes:
          type: string

    ExpenseUpdateInput:
      type: object
      description: All fields optional — only provided fields are updated. Pass an empty string to `category`/`category_id` to clear the category.
      minProperties: 1
      properties:
        title:
          type: string
        amount:
          type: number
        category:
          type: string
        category_id:
          type: string
          deprecated: true
        date:
          type: string
          format: date
        notes:
          type: string

    ExpenseWriteResult:
      type: object
      properties:
        success:
          type: boolean
          example: true
        message:
          type: string
          example: "Expense created."
        id:
          type: string
        url:
          type: string
          format: uri
        category_id:
          type: string
          nullable: true
          description: Present on create when a category was requested.

    ExpenseBatchResult:
      type: object
      properties:
        success:
          type: boolean
          description: True only if every item succeeded.
        message:
          type: string
          example: "48 created, 2 failed."
        results:
          type: array
          items:
            type: object
            properties:
              success:
                type: boolean
              title:
                type: string
              id:
                type: string
              url:
                type: string
                format: uri
              category_id:
                type: string
                nullable: true
              error:
                type: string
                description: Present only when `success` is false.

    Category:
      type: object
      properties:
        id:
          type: string
          example: "391e545c-4a67-81e7-8657-ca14ce61f6e0"
        name:
          type: string
          example: "Food"

    CategoryBreakdownRow:
      type: object
      properties:
        category_id:
          type: string
          nullable: true
        category:
          type: string
          example: "Food"
        total:
          type: number
          example: 4736.25
        count:
          type: integer
          example: 14
        percent:
          type: number
          description: Share of total spend in the requested range, 0–100.
          example: 48.46

    Error:
      type: object
      properties:
        error:
          type: string
          example: "Bad Request"
        message:
          type: string
          example: "`title` and `amount` are required."

  responses:
    BadRequest:
      description: Invalid request.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
    Unauthorized:
      description: Missing or invalid API key.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
          example:
            error: Unauthorized
            message: "Valid Authorization: Bearer <api_key> header is required."
    ServerError:
      description: Unexpected server error.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
