openapi: 3.1.0
info:
  title: Adithya Krishnan Portfolio API
  description: >
    Full API surface for the portfolio site: portfolio data
    (GitHub stats, Notion-backed blogs/projects, Spotify now-playing,
    aggregated stats), scheduling (Google Calendar booking), and service
    health/monitoring. All protected routes use a single static Bearer API key
    via the `Authorization: Bearer <API_KEY>` header.
  version: 7.0.0
servers:
  - url: https://www.adithyakrishnan.com

security:
  - bearerAuth: []

tags:
  - name: Portfolio Data
    description: GitHub stats, Notion blogs/projects, Spotify now-playing, aggregated stats.
  - name: Scheduling
    description: Google Calendar availability and meeting booking.
  - name: Monitoring
    description: Health checks and alerting for upstream services.
  - name: Auth
    description: One-time Spotify OAuth setup (not for regular API use).

paths:
  /api/github:
    get:
      operationId: getGithubStats
      summary: GitHub profile and repo stats
      description: Profile info, star/language totals, and the 6 most recently updated non-fork repos. Cached 300s.
      tags: [Portfolio Data]
      security: [{ bearerAuth: [] }]
      responses:
        "200":
          description: GitHub stats.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GithubStats"
        "401":
          $ref: "#/components/responses/OAuthUnauthorized"
        "500":
          $ref: "#/components/responses/ServerError"

  /api/blogs/{id}:
    patch:
      operationId: updateBlogPost
      summary: Update a blog post
      description: Updates an existing blog post entry in the Notion Blogs database.
      tags: [Portfolio Data]
      security: [{ bearerAuth: [] }]
      parameters:
        - name: id
          in: path
          required: true
          description: The Notion page ID of the blog post.
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                title:
                  type: string
                slug:
                  type: string
                date:
                  type: string
                excerpt:
                  type: string
                url:
                  type: string
                  format: uri
      responses:
        "200":
          description: Blog post updated successfully.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Blog"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/OAuthUnauthorized"
        "500":
          $ref: "#/components/responses/ServerError"

  /api/spotify:
    get:
      operationId: getNowPlaying
      summary: Currently/recently playing track
      description: >
        Returns the currently playing track, or the most recently played
        track with `isPlaying: false` if nothing is playing. Auth is
        optional here — an `Authorization` header is only validated if present.
      tags: [Portfolio Data]
      security:
        - {}
        - bearerAuth: []
      responses:
        "200":
          description: Now-playing data.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NowPlaying"
        "401":
          description: An Authorization header was sent but was invalid.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "500":
          $ref: "#/components/responses/ServerError"

  /api/stats:
    get:
      operationId: getAggregatedStats
      summary: Aggregated dashboard stats
      description: >
        Spotify now-playing, GitHub summary, and Notion content counts,
        fetched concurrently via `Promise.allSettled` — one failing source
        degrades gracefully instead of failing the whole response.
      tags: [Portfolio Data]
      security: [{ bearerAuth: [] }]
      responses:
        "200":
          description: Aggregated stats.
          content:
            application/json:
              schema:
                type: object
                properties:
                  spotify:
                    $ref: "#/components/schemas/NowPlaying"
                  github:
                    type: [object, "null"]
                    properties:
                      username:
                        type: string
                      publicRepos:
                        type: integer
                      followers:
                        type: integer
                      totalStars:
                        type: integer
                  notion:
                    type: object
                    properties:
                      blogsCount:
                        type: integer
                      projectsCount:
                        type: integer
                      experiencesCount:
                        type: integer
                  availability:
                    $ref: "#/components/schemas/AvailabilityStatus"
        "401":
          $ref: "#/components/responses/OAuthUnauthorized"
        "500":
          $ref: "#/components/responses/ServerError"

  /api/calendar/{id}:
    patch:
      operationId: updateCalendarEvent
      summary: Update a calendar event
      description: Updates one or more fields of an existing event in your Google Calendar.
      tags: [Scheduling]
      security: [{ bearerAuth: [] }]
      parameters:
        - name: id
          in: path
          required: true
          description: The Google Calendar event ID to update.
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              minProperties: 1
              properties:
                summary:
                  type: string
                  example: "Updated Project Check-in"
                start:
                  type: string
                  format: date-time
                  example: "2026-07-15T14:30:00Z"
                end:
                  type: string
                  format: date-time
                  example: "2026-07-15T15:30:00Z"
                description:
                  type: string
                  example: "Updated details."
                recurrence:
                  type: array
                  items:
                    type: string
                  example: ["RRULE:FREQ=DAILY;COUNT=5"]
                timeZone:
                  type: string
                  example: "Asia/Kolkata"
      responses:
        "200":
          description: Event updated successfully.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/CalendarEvent"
                  - type: object
                    properties:
                      id:
                        type: string
                        example: "some_event_id_123"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/OAuthUnauthorized"
        "500":
          $ref: "#/components/responses/ServerError"

    delete:
      operationId: deleteCalendarEvent
      summary: Delete a calendar event
      description: Removes an event from your Google Calendar by its event ID.
      tags: [Scheduling]
      security: [{ bearerAuth: [] }]
      parameters:
        - name: id
          in: path
          required: true
          description: The Google Calendar event ID to delete.
          schema:
            type: string
      responses:
        "204":
          description: Event deleted successfully.
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/OAuthUnauthorized"
        "500":
          $ref: "#/components/responses/ServerError"

  /api/calendar/book:
    get:
      operationId: getBusySlots
      summary: Retrieve busy time slots
      description: Returns a list of busy time slots (only start and end times) for public calendar scheduling. Publicly accessible.
      tags: [Scheduling]
      security: []
      parameters:
        - name: start
          in: query
          description: ISO datetime string specifying the start range. Defaults to now.
          required: false
          schema:
            type: string
        - name: end
          in: query
          description: ISO datetime string specifying the end range. Defaults to 7 days ahead.
          required: false
          schema:
            type: string
      responses:
        "200":
          description: List of busy slots.
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    start:
                      type: string
                    end:
                      type: string
        "400":
          description: Invalid date range.
        "500":
          $ref: "#/components/responses/ServerError"

    post:
      operationId: bookMeeting
      summary: Submit a public meeting booking
      description: Creates a new booking event on the calendar. Publicly accessible.
      tags: [Scheduling]
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name, email, dateTime]
              properties:
                name:
                  type: string
                email:
                  type: string
                dateTime:
                  type: string
                  description: ISO datetime string representing the requested slot.
                description:
                  type: string
                duration:
                  type: number
                  default: 30
      responses:
        "200":
          description: Booking successful.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CalendarEvent"
        "400":
          $ref: "#/components/responses/BadRequest"
        "500":
          $ref: "#/components/responses/ServerError"

  # ---------------------------------------------------------------------
  # Monitoring
  # ---------------------------------------------------------------------
  /api/health:
    get:
      operationId: getHealth
      summary: Public health check
      description: >
        Pings GitHub, Notion, Spotify, and the deployed site. Returns HTTP 200
        when everything is up, 503 otherwise. Suitable for external uptime
        monitors.
      tags: [Monitoring]
      security: []
      responses:
        "200":
          description: All services healthy.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HealthReport"
        "503":
          description: One or more services are down.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HealthReport"

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: >
        Static API key used for all protected endpoints.
        Send as `Authorization: Bearer <API_KEY>`.

  schemas:
    Error:
      type: object
      properties:
        error:
          type: string
          example: "Bad Request"
        message:
          type: string
          example: "A valid ISO date string 'dateTime' is required"

    AvailabilityStatus:
      type: object
      properties:
        status:
          type: string
          enum: [Available, Busy]
          example: "Available"
        currentEvent:
          type: [string, "null"]
          example: "Meeting with Client"

    CalendarEvent:
      type: object
      properties:
        id:
          type: string
          example: "some_event_id_123"
        summary:
          type: string
          example: "Sync Meeting"
        start:
          type: string
          format: date-time
          example: "2026-07-15T10:00:00Z"
        end:
          type: string
          format: date-time
          example: "2026-07-15T11:00:00Z"
        isBusy:
          type: boolean
          example: true
        description:
          type: string
          example: "Discuss design and milestones."
        recurrence:
          type: array
          items:
            type: string
          example: ["RRULE:FREQ=DAILY;COUNT=5"]
        recurringEventId:
          type: string
          example: "some_recurring_event_parent_id"

    # --- Portfolio data ---

    GithubStats:
      type: object
      properties:
        username:
          type: string
        name:
          type: string
        avatarUrl:
          type: string
          format: uri
        bio:
          type: [string, "null"]
        publicRepos:
          type: integer
        followers:
          type: integer
        following:
          type: integer
        totalStars:
          type: integer
        languages:
          type: object
          description: Map of language name to repo count, sorted descending.
          additionalProperties:
            type: integer
        recentRepos:
          type: array
          items:
            type: object
            properties:
              name:
                type: string
              description:
                type: [string, "null"]
              stars:
                type: integer
              forks:
                type: integer
              language:
                type: [string, "null"]
              url:
                type: string
                format: uri
              updatedAt:
                type: string
                format: date-time

    Blog:
      type: object
      properties:
        id:
          type: string
        title:
          type: string
        slug:
          type: string
        date:
          type: string
        excerpt:
          type: string
        url:
          type: string
          format: uri

    Project:
      type: object
      properties:
        url1:
          type: string
          description: Cover image URL.
        name:
          type: string
        type:
          type: string
        event:
          type: string
        date:
          type: string
        view:
          type: string
          description: External project URL.
        description:
          type: string

    NowPlaying:
      type: object
      properties:
        isPlaying:
          type: boolean
        title:
          type: string
        artist:
          type: string
        songUrl:
          type: string
          format: uri
        albumImageUrl:
          type: string
          format: uri
        lastPlayedAt:
          type: [string, "null"]
          format: date-time

    # --- Monitoring ---
    ServiceStatus:
      type: object
      properties:
        service:
          type: string
          example: "github-api"
        ok:
          type: boolean
        status:
          type: [integer, "null"]
          description: Upstream HTTP status code, if a response was received.
        latency_ms:
          type: integer
        error:
          type: [string, "null"]

    HealthReport:
      type: object
      properties:
        ok:
          type: boolean
        timestamp:
          type: string
          format: date-time
        services:
          type: array
          items:
            $ref: "#/components/schemas/ServiceStatus"

  responses:
    BadRequest:
      description: Invalid request.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
    Unauthorized:
      description: Missing or invalid API key.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
          example:
            error: Unauthorized
            message: "Valid Authorization: Bearer <api_key> header is required."
    OAuthUnauthorized:
      description: Missing or invalid OAuth bearer token.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
          example:
            error: Unauthorized
            message: "Valid OAuth Bearer token required"
    ServerError:
      description: Unexpected server error.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
