@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Single+Day&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

html,body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
    scroll-behavior: smooth;
    
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@font-face {
  font-family: "Elgoc-Thin";
  src: url("/fonts/Elgoc-Thin.otf");
}



.font-arone {
  font-family: "AR One Sans", sans-serif;
}

.font-poppins{
  font-family: 'Poppins', sans-serif;
  font-weight: 200;
  
}
.space-grotesk{
  font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.font-poppins-regular{
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
}

.font-logo{
  font-family: 'Space Grotesk', sans-serif;
  font-weight: 600;
}

.z-top {
  z-index: 1000000;
}

.animate-spin-slow {
  animation: spin 6s linear infinite; 
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

/* Define CSS variables for scrollbar colors */
:root {
  --scrollbar-bg: #121212;
  --scrollbar-thumb: #f8f8f8;
  --scrollbar-thumb-hover: #ececec;
}

:root {
  --scrollbar-bg: #f0f0f0; /* Light mode background */
  --scrollbar-thumb: #a0a0a0; /* Light mode thumb */
  --scrollbar-thumb-hover: #909090; /* Light mode thumb hover */
}

.dark {
  --scrollbar-bg: #121212; /* Dark mode background */
  --scrollbar-thumb: #f8f8f8; /* Dark mode thumb */
  --scrollbar-thumb-hover: #ececec; /* Dark mode thumb hover */
}

/* Custom Scrollbar */
.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background-color: var(--scrollbar-bg);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-thumb);
  border-radius: 4px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: var(--scrollbar-thumb-hover);
}