name: Update Contributions

permissions:
  contents: write
  
on:
  workflow_dispatch:
  push:
    branches: [master]
  schedule:
    - cron: "0 */12 * * 0,2,4,6"

jobs:
  contributions-update:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - uses: muesli/readme-scribe@master
        env:
          GITHUB_TOKEN: ${{ secrets.GH_PAT }}
        with:
          template: "assets/templates/README.md.tpl"
          writeTo: "README.md"

      - uses: actions/upload-artifact@v4
        with:
          name: README.md
          path: README.md

      - uses: stefanzweifel/git-auto-commit-action@v4
        env:
          GITHUB_TOKEN: ${{ secrets.GH_PAT }}
        with:
          commit_message: 'docs(README) : update recent data' 
          branch: master
          commit_user_name: fal3n-4ngel
          commit_user_email: adiadithyakrishnan@gmail.com
          commit_author: Adithya Krishnan
